html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

.srOnly { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

    /* font-family: 'Cormorant Garamond', serif;

    font-family: 'Fredericka the Great', cursive;

    font-family: 'Roboto', sans-serif; */
* {
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
}
ul {
    list-style: none;
}
img {
    width: 100%;
    height: auto;
    display: block;
}
a,
h3 {
    text-decoration: none;
    font-size: 2.2rem;
    font-family: "Cormorant Garamond", serif;
    text-transform: uppercase;
    color: white;
}

h2 {
    font-family: "Fredericka the Great", cursive;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    line-height: 29px;
    font-weight: 300;
}
.wrapper {
    width: 85%;
    max-width: 2140px;
    margin: 0 auto;
}
.skipToMain {
    position: absolute;
    top: 50px;
    left: 50px;
    color: #0645ad;
}
/***************HEADER***************/

header {
    background-image: url(./assets/image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 83vh;
    padding-top: 10px;
    position: relative;
}

ul {
    list-style-type: none;
}

nav ul li {
    text-align: left;
    color: white;
    font-family: "Cormorant Garamond", serif;
    font-size: 2.9rem;
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

nav ul a {
    padding: 10px;
}

nav a:hover,
nav a:focus {
    color: #c3d3cb;
}
nav input {
    display: none;
    float: right;
}
nav .open {
    padding: 10px;
    font-size: 3.5rem;
    position: fixed;
    top: 10px;
    right: 10px;
    color: white;
    visibility: hidden;
    cursor: pointer;
}
nav .close {
    visibility: hidden;
    padding: 10px;
}

h1 {
    font-family: "Fredericka the Great", cursive;
    color: white;
    font-size: 12rem;
    font-weight: 400;
    max-width: 800px;
    float: right;
    text-align: right;
    text-transform: uppercase;
    line-height: 117px;
}

.social {
    float: right;
    font-size: 2.9rem;
    position: absolute;
    bottom: 40px;
    right: 15px;
}
.social a {
    color: white;
    padding: 10px;
    font-size: 3rem;
}
.social li {
    color: white;
    padding: 10px;
}
.social a:hover,
.social a:focus {
    color: #c3d3cb;
}
.hamburgerSocial {
    display: none;
}
/***************SUZIE STORY***************/
.suzie {
    background-color: #152d20;
    height: 50vh;
    padding-top: 84px;
}
.suzie aside,
.suzie article {
    float: left;
}
.suzie article {
    width: 75%;
}
.suzie aside {
    margin-right: 40px;
    width: calc(25% - 40px);
}
.suzie h2 {
    font-size: 5.1rem;
    font-weight: 400;
    margin-bottom: 5px;
    text-transform: uppercase;
}
.suzie p {
    margin-bottom: 30px;
}
.suzie a {
    color: #152d20;
    padding: 10px;
    background-color: white;
    font-size: 1.8rem;
}

.suzie a:hover,
.suzie a:focus {
    background-color: #c3d3cb;
}

/***************FRIENDS***************/
.friends {
    background-color: #c3d3cb;
    height: 80vh;
}
.friends h2 {
    font-size: 4.9rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #152d20;
    padding-top: 75px;
    padding-bottom: 75px;
}
.friends span {
    display: block;
}
.friends ul {
    float: left;
    text-align: center;
}
.friends ul li {
    padding: 15px;
    display: inline-block;
    width: calc(30% - 15px);
}
/***************ANIMAL SPOTLIGHT/EVENTS/MERCH***************/
.visualNav {
    background-color: #152d20;
    height: 30vh;
}
.visualNav span {
    display: block;
}
.visualNav ul {
    padding-top: 75px;
    text-align: center;
}
.visualNav li {
    float: left;
    width: calc(100% / 3);
}
.visualNav a {
    font-family: "Cormorant Garamond", serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    color: white;
}
.visualNav a:hover,
.visualNav a:focus {
    color: #c3d3cb;
}
.visualNav i {
    font-size: 5rem;
}

/***************BLOG POSTS***************/

.blogPosts h2 {
    font-size: 3.5rem;
    font-weight: 400;
    color: #152d20;
    text-transform: uppercase;
}
.blogPosts a {
    color: white;
    font-size: 1.8rem;
    font-family: "Cormorant Garamond", serif;
    padding: 10px;
    background-color: #152d20;
    text-transform: uppercase;
}
.blogPosts a:hover,
.blogPosts a:focus {
    background-color: #c3d3cb;
}
.blogPosts p {
    color: black;
    padding-top: 20px;
    padding-bottom: 50px;
}
.blogPosts aside {
    width: 50%;
}
.zebra {
    float: right;
}
.bond {
    float: left;
}
.blogPosts article {
    width: 50%;
    float: left;
    padding: 150px 20px 20px 20px;
}
.blogPosts aside img {
    object-fit: cover;
}
/***************INFO***************/

.infoSignUp {
    background-color: #152d20;
    height: 35vh;
    padding-top: 100px;
}
.infoSignUp span {
    display: block;
}
.infoFloatContainer {
    float: left;
}
.bottomNav {
    width: 25%;
}
.bottomNav a:hover,
.bottomNav a:focus {
    color: #c3d3cb;
    cursor: pointer;
}
.signUp p {
    display: block;
    padding-bottom: 10px;
}
.address {
    text-align: right;
    width: 25%;
}
.address h3,
.signUp h3 {
    padding-bottom: 10px;
}
.signUp {
    text-align: center;
    width: 50%;
}
.signUp input {
    border: none;
    width: 60%;
    height: 50px;
    font-size: 1.8rem;
}
.signUp button {
    width: 30%;
    height: 50px;
    font-family: "Cormorant Garamond", serif;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: white;
    background-color: #000;
    border: none;
}
.signUp button:hover,
.signUp button:focus {
    background-color: #c3d3cb;
    cursor: pointer;
}
/***************FOOTER***************/
footer {
    background-color: #000;
    text-align: center;
    padding: 20px;
}
footer a {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-transform: none;
}
footer a:hover,
footer a:focus {
    color: #c3d3cb;
}

/***************MEDIA QUERIES***************/

@media screen and (max-width: 1250px) {
    .blogPosts article {
        padding: 50px 20px 20px 20px;
    }
    .suzie {
        padding-top: 50px;
    }
    .suzie article {
        width: 65%;
    }
    .suzie aside {
        width: calc(35% - 40px);
    }
    .blogPosts p {
        padding-top: 10px;
        padding-bottom: 25px;
    }
}

@media screen and (max-width: 1080px) {
    /* default font reduced to 8px */
    html {
        font-size: 50%;
    }
    .friends h2 {
        padding-bottom: 35px;
    }
    .friends ul li {
        width: calc((100%/2) - 15px)
    }
    .friends li:nth-child(3) {
        display: none;
    }
    .blogPosts article {
        padding: 20px 20px 20px 20px;
    }
    .infoSignUp {
        padding-top: 0;
        height: 45vh;
    }
    .infoSignUp button {
        display: block;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }
    .infoSignUp input {
        text-align: center;
        display: block;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }
    .infoFloatContainer {
        float: none;
        text-align: center;
    }
    .bottomNav {
        width: 100%;
    }
    .bottomNav li {
        display: inline-block;
        padding: 20px 10px 20px 10px;
    }
    .address {
        text-align: center;
        width: 100%;
    }
    .address h3 {
        padding-top: 10px;
    }
    .signUp {
        text-align: center;
        width: 100%;
    }
}
@media screen and (max-width: 890px) {
    header {
        background-position: 25%;
    }
    h1 {
        font-size: 4rem;
        float: left;
        max-width: 200px;
        text-align: left;
        text-transform: uppercase;
        line-height: inherit;
    }
    nav .hamburgerMenu {
        position: fixed;
        background-color: #c3d3cb;
        width: 55%;
        right: -58%;
        transition: all 0.5s;
        z-index: 30;
        margin: 0 auto;
        text-align: center;
        top: 0;
        height: 100vh;
        box-shadow: -6px 8px 5px 0px rgba(50, 50, 50, 0.25);
    }
    nav ul li {
        display: block;
        text-align: center;
    }
    nav ul a {
        display: block;
        padding: 10px;
        font-size: 3rem;
        color: black;
    }
    nav a:hover,
    nav a:focus-within {
        background-color: #d0dcd9;
        color: black;
    }
    nav .open {
        visibility: visible;
        text-shadow: -1px 0px 6px rgba(150, 150, 150, 1);
    }
    input[type="checkbox"]:checked + div.hamburgerMenu {
        right: 0;
    }
    .hamburgerSocial {
        display: inline-block;
        padding: 20px 0px 20px 15px;
    }
    .hamburgerSocial a {
        padding: 10px;
        font-size: 3rem;
        color: black;
    }
    .social {
        display: none;
    }
    .hamburgerMenu .close {
        display: block;
        visibility: visible;
        font-size: 3.5rem;
        text-align: left;
        padding-left: 20px;
        padding-top: 15px;
        cursor: pointer;
        color: black;
    }
    .suzie {
        height: 100%;
        padding-bottom: 50px;
    }
    .suzie aside,
    .suzie article {
        float: none;
    }
    .suzie article {
        width: 100%;
        text-align: center;
    }
    .suzie h2 {
        padding-top: 30px;
    }
    .suzie aside {
        width: 75%;
        margin: 0 auto;
    }
    .blogPosts {
        float: none;
    }
    .blogPosts aside,
    .blogPosts article {
        width: 100%;
    }
    .blogPosts article {
        text-align: center;
        padding-bottom: 30px;
    }
    .zebra,
    .bond {
        float: none;
    }
}

@media screen and (max-width: 768px) {
    .friends {
    height: 100%;
    }
    .friends h2 {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .friends ul {
    padding-bottom: 15px;
    }
    .friends li {
        width: calc((100%/2) - 15px)
    }
}

@media screen and (max-width: 590px) {
    .suzie aside {
        width: 100%;
    }
    .visualNav {
        height: 100%;
    }
    .visualNav ul {
        padding-top: 0;
    }
    .visualNav li {
        float: none;
        width: 100%;
        padding: 30px;
    }
}

@media screen and (max-width: 386px) {

/* default font reduced to 6px */
    html {
        font-size: 38%;
    }
}
